Click
gunicorn
Flash
Flask-RESTful
Flask-SQLAlchemy
uwsgi
Jinja2
Keras
Keras-Applications
Keras-Preprocessing
Markdown
MarkupSafe
Pillow
PyYAML
Werkzeug
absl-py
astor
certifi
chardet
gast
google-pasta
grpcio
h5py
idna
itsdangerous
more-itertools
numpy
pip
protobuf
requests
scipy
setuptools
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
urllib3
wheel
wrapt
